<section class="about-us">
  <div class="container-about-us">
    <h2 class="about-us-title">About us</h2>
    
      <ul class="about-us-list">
        <li class="about-us-item">
    <p class="about-us-text1">
      Welcome to our premium watch collection, where luxury and style meet functionality and precision. Our selection of
      timepieces embodies the very best in Swiss craftsmanship and engineering, ensuring that you'll always have a reliable
      and stylish accessory on your wrist.
    </p>
    <p class="about-us-text2">
      At our premium watch collection, we believe that a watch is more than just a timekeeping device – it's a statement piece
      that reflects your personality and style. So why settle for anything less than the best? Browse our collection today and
      discover the perfect watch for you.
    </p>
        </li>
      </ul>
    
     <div class="container-gif">
    <img class="about-us-gif" src="../img/2-about-us/watchspot.gif" alt="wathgif">
     
    </div>
  </div>
</section>
