<section class="catalog section" id="catalog">
  <div class="container">
    <h2 class="catalog-title section-title" id="Catalog">Catalog</h2>

    <ul class="catalog-list">
      <li class="catalog-list-item">
        <a href="" class="catalog-item-link">
          <div class="catalog-foto-container">
            <img
              srcset="
                ./img/3-catalog/catalog-foto1-1x.jpg 1x,
                ./img/3-catalog/catalog-foto1-2x.jpg 2x
              "
              src="./img/3-catalog/catalog-foto1-1x.jpg"
              alt="clock"
              width="276"
              height="274"
            />

            <div class="catalog-card-container">
              <ul>
                <li class="catalog-card-item">
                  <h3 class="catalog-card-title">Description</h3>
                  <p class="catalog-card-text">
                    Richly detailed with an understated design - the Police
                    Men’s Greenlane watch.
                  </p>
                </li>
                <li>
                  <h3 class="catalog-card-title">DETAILS & FEATUREStion</h3>
                  <p class="catalog-card-text catalog-card-second-text">
                    Gender: man Size: 46x54.5mm Case Colour: Steel Band
                    Material: Metal Case Material: Metal Features: Multifunction
                    Water Resistant: 5 (ATM) Band Colour: Steel
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <p class="catalog-item-name">
            Tube Watch S42 Date Steel With Black Case
          </p>
          <span class="catalog-item-price">€395</span>
        </a>
        <button class="button-heart">
          <svg width="24px" height="24px" class="catalog-icon">
            <use
              class="catalog-icon-item"
              href="./img/icons-sprite/sprite.svg#icon-catalog-heart"
            ></use>
          </svg>
        </button>
      </li>

      <li class="catalog-list-item">
        <a href="" class="catalog-item-link">
          <div class="catalog-foto-container">
            <img
              srcset="
                ./img/3-catalog/catalog-foto2-1x.jpg 1x,
                ./img/3-catalog/catalog-foto2-2x.jpg 2x
              "
              src="./img/3-catalog/catalog-foto2-1x.jpg"
              alt="clock"
              width="276"
              height="274"
            />

            <div class="catalog-card-container">
              <ul>
                <li class="catalog-card-item">
                  <h3 class="catalog-card-title">Description</h3>
                  <p class="catalog-card-text">
                    Richly detailed with an understated design - the Police
                    Men’s Greenlane watch.
                  </p>
                </li>
                <li>
                  <h3 class="catalog-card-title">DETAILS & FEATUREStion</h3>
                  <p class="catalog-card-text catalog-card-second-text">
                    Gender: man Size: 46x54.5mm Case Colour: Steel Band
                    Material: Metal Case Material: Metal Features: Multifunction
                    Water Resistant: 5 (ATM) Band Colour: Steel
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <p class="catalog-item-name">Avondale Watch Police For Men</p>
          <span class="catalog-item-price">€800</span>
        </a>
        <button class="button-heart">
          <svg width="24px" height="24px" class="catalog-icon">
            <use
              class="catalog-icon-item"
              href="./img/icons-sprite/sprite.svg#icon-catalog-heart"
            ></use>
          </svg>
        </button>
      </li>

      <li class="catalog-list-item">
        <a href="" class="catalog-item-link">
          <div class="catalog-foto-container">
            <img
              srcset="
                ./img/3-catalog/catalog-foto3-1x.jpg 1x,
                ./img/3-catalog/catalog-foto3-2x.jpg 2x
              "
              src="./img/3-catalog/catalog-foto3-1x.jpg"
              alt="clock"
              width="276"
              height="274"
            />

            <div class="catalog-card-container">
              <ul>
                <li class="catalog-card-item">
                  <h3 class="catalog-card-title">Description</h3>
                  <p class="catalog-card-text">
                    Richly detailed with an understated design - the Police
                    Men’s Greenlane watch.
                  </p>
                </li>
                <li>
                  <h3 class="catalog-card-title">DETAILS & FEATUREStion</h3>
                  <p class="catalog-card-text catalog-card-second-text">
                    Gender: man Size: 46x54.5mm Case Colour: Steel Band
                    Material: Metal Case Material: Metal Features: Multifunction
                    Water Resistant: 5 (ATM) Band Colour: Steel
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <p class="catalog-item-name">
            Diver 300M Co‑Axial Master Chronometer Chronograph
          </p>
          <span class="catalog-item-price">€600</span>
        </a>
        <button class="button-heart">
          <svg width="24px" height="24px" class="catalog-icon">
            <use
              class="catalog-icon-item"
              href="./img/icons-sprite/sprite.svg#icon-catalog-heart"
            ></use>
          </svg>
        </button>
      </li>

      <li class="catalog-list-item">
        <a href="" class="catalog-item-link">
          <div class="catalog-foto-container">
            <img
              srcset="
                ./img/3-catalog/catalog-foto4-1x.jpg 1x,
                ./img/3-catalog/catalog-foto4-2x.jpg 2x
              "
              src="./img/3-catalog/catalog-foto4-1x.jpg"
              alt="clock"
              width="276"
              height="274"
            />

            <div class="catalog-card-container">
              <ul>
                <li class="catalog-card-item">
                  <h3 class="catalog-card-title">Description</h3>
                  <p class="catalog-card-text">
                    Richly detailed with an understated design - the Police
                    Men’s Greenlane watch.
                  </p>
                </li>
                <li>
                  <h3 class="catalog-card-title">DETAILS & FEATUREStion</h3>
                  <p class="catalog-card-text catalog-card-second-text">
                    Gender: man Size: 46x54.5mm Case Colour: Steel Band
                    Material: Metal Case Material: Metal Features: Multifunction
                    Water Resistant: 5 (ATM) Band Colour: Steel
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <p class="catalog-item-name">
            Diver 300M Co-Axial Master Chronometer
          </p>
          <span class="catalog-item-price">€1400</span>
        </a>
        <button class="button-heart">
          <svg width="24px" height="24px" class="catalog-icon">
            <use
              class="catalog-icon-item"
              href="./img/icons-sprite/sprite.svg#icon-catalog-heart"
            ></use>
          </svg>
        </button>
      </li>

      <li class="catalog-list-item">
        <a href="" class="catalog-item-link">
          <div class="catalog-foto-container">
            <img
              srcset="
                ./img/3-catalog/catalog-foto5-1x.jpg 1x,
                ./img/3-catalog/catalog-foto5-2x.jpg 2x
              "
              src="./img/3-catalog/catalog-foto5-1x.jpg"
              alt="clock"
              width="276"
              height="274"
            />

            <div class="catalog-card-container">
              <ul>
                <li class="catalog-card-item">
                  <h3 class="catalog-card-title">Description</h3>
                  <p class="catalog-card-text">
                    Richly detailed with an understated design - the Police
                    Men’s Greenlane watch.
                  </p>
                </li>
                <li>
                  <h3 class="catalog-card-title">DETAILS & FEATUREStion</h3>
                  <p class="catalog-card-text catalog-card-second-text">
                    Gender: man Size: 46x54.5mm Case Colour: Steel Band
                    Material: Metal Case Material: Metal Features: Multifunction
                    Water Resistant: 5 (ATM) Band Colour: Steel
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <p class="catalog-item-name">Taman Watch By Police For Men</p>
          <span class="catalog-item-price">€500</span>
        </a>
        <button class="button-heart">
          <svg width="24px" height="24px" class="catalog-icon">
            <use
              class="catalog-icon-item"
              href="./img/icons-sprite/sprite.svg#icon-catalog-heart"
            ></use>
          </svg>
        </button>
      </li>

      <li class="catalog-list-item">
        <a href="" class="catalog-item-link">
          <div class="catalog-foto-container">
            <img
              srcset="
                ./img/3-catalog/catalog-foto6-1x.jpg 1x,
                ./img/3-catalog/catalog-foto6-2x.jpg 2x
              "
              src="./img/3-catalog/catalog-foto6-1x.jpg"
              alt="clock"
              width="276"
              height="274"
            />

            <div class="catalog-card-container">
              <ul>
                <li class="catalog-card-item">
                  <h3 class="catalog-card-title">Description</h3>
                  <p class="catalog-card-text">
                    Richly detailed with an understated design - the Police
                    Men’s Greenlane watch.
                  </p>
                </li>
                <li>
                  <h3 class="catalog-card-title">DETAILS & FEATUREStion</h3>
                  <p class="catalog-card-text catalog-card-second-text">
                    Gender: man Size: 46x54.5mm Case Colour: Steel Band
                    Material: Metal Case Material: Metal Features: Multifunction
                    Water Resistant: 5 (ATM) Band Colour: Steel
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <p class="catalog-item-name">Malawi Watch Police For Men</p>
          <span class="catalog-item-price">€555</span>
        </a>
        <button class="button-heart">
          <svg width="24px" height="24px" class="catalog-icon">
            <use
              class="catalog-icon-item"
              href="./img/icons-sprite/sprite.svg#icon-catalog-heart"
            ></use>
          </svg>
        </button>
      </li>

      <li class="catalog-list-item">
        <a href="" class="catalog-item-link">
          <div class="catalog-foto-container">
            <img
              srcset="
                ./img/3-catalog/catalog-foto7-1x.jpg 1x,
                ./img/3-catalog/catalog-foto7-2x.jpg 2x
              "
              src="./img/3-catalog/catalog-foto7-1x.jpg"
              alt="clock"
              width="276"
              height="274"
            />

            <div class="catalog-card-container">
              <ul>
                <li class="catalog-card-item">
                  <h3 class="catalog-card-title">Description</h3>
                  <p class="catalog-card-text">
                    Richly detailed with an understated design - the Police
                    Men’s Greenlane watch.
                  </p>
                </li>
                <li>
                  <h3 class="catalog-card-title">DETAILS & FEATUREStion</h3>
                  <p class="catalog-card-text catalog-card-second-text">
                    Gender: man Size: 46x54.5mm Case Colour: Steel Band
                    Material: Metal Case Material: Metal Features: Multifunction
                    Water Resistant: 5 (ATM) Band Colour: Steel
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <p class="catalog-item-name">
            Diver 300M Co-Axial Master Chronometer
          </p>
          <span class="catalog-item-price">€1200</span>
        </a>
        <button class="button-heart">
          <svg width="24px" height="24px" class="catalog-icon">
            <use
              class="catalog-icon-item"
              href="./img/icons-sprite/sprite.svg#icon-catalog-heart"
            ></use>
          </svg>
        </button>
      </li>

      <li class="catalog-list-item">
        <a href="" class="catalog-item-link">
          <div class="catalog-foto-container">
            <img
              srcset="
                ./img/3-catalog/catalog-foto8-1x.jpg 1x,
                ./img/3-catalog/catalog-foto8-2x.jpg 2x
              "
              src="./img/3-catalog/catalog-foto8-1x.jpg"
              alt="clock"
              width="276"
              height="274"
            />

            <div class="catalog-card-container">
              <ul>
                <li class="catalog-card-item">
                  <h3 class="catalog-card-title">Description</h3>
                  <p class="catalog-card-text">
                    Richly detailed with an understated design - the Police
                    Men’s Greenlane watch.
                  </p>
                </li>
                <li>
                  <h3 class="catalog-card-title">DETAILS & FEATUREStion</h3>
                  <p class="catalog-card-text catalog-card-second-text">
                    Gender: man Size: 46x54.5mm Case Colour: Steel Band
                    Material: Metal Case Material: Metal Features: Multifunction
                    Water Resistant: 5 (ATM) Band Colour: Steel
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <p class="catalog-item-name">Greenlane Watch By Police For Men</p>
          <span class="catalog-item-price">€1000</span>
        </a>
        <button class="button-heart">
          <svg width="24px" height="24px" class="catalog-icon">
            <use
              class="catalog-icon-item"
              href="./img/icons-sprite/sprite.svg#icon-catalog-heart"
            ></use>
          </svg>
        </button>
      </li>

      <li class="catalog-list-item">
        <a href="" class="catalog-item-link">
          <div class="catalog-foto-container">
            <img
              srcset="
                ./img/3-catalog/catalog-foto9-1x.jpg 1x,
                ./img/3-catalog/catalog-foto9-2x.jpg 2x
              "
              src="./img/3-catalog/catalog-foto9-1x.jpg"
              alt="clock"
              width="276"
              height="274"
            />

            <div class="catalog-card-container">
              <ul>
                <li class="catalog-card-item">
                  <h3 class="catalog-card-title">Description</h3>
                  <p class="catalog-card-text">
                    Richly detailed with an understated design - the Police
                    Men’s Greenlane watch.
                  </p>
                </li>
                <li>
                  <h3 class="catalog-card-title">DETAILS & FEATUREStion</h3>
                  <p class="catalog-card-text catalog-card-second-text">
                    Gender: man Size: 46x54.5mm Case Colour: Steel Band
                    Material: Metal Case Material: Metal Features: Multifunction
                    Water Resistant: 5 (ATM) Band Colour: Steel
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <p class="catalog-item-name">Squardrc 5402 Chrono</p>
          <span class="catalog-item-price">€359</span>
        </a>
        <button class="button-heart">
          <svg width="24px" height="24px" class="catalog-icon">
            <use
              class="catalog-icon-item"
              href="./img/icons-sprite/sprite.svg#icon-catalog-heart"
            ></use>
          </svg>
        </button>
      </li>

      <li class="catalog-list-item">
        <a href="" class="catalog-item-link">
          <div class="catalog-foto-container">
            <img
              srcset="
                ./img/3-catalog/catalog-foto10-1x.jpg 1x,
                ./img/3-catalog/catalog-foto10-2x.jpg 2x
              "
              src="./img/3-catalog/catalog-foto10-1x.jpg"
              alt="clock"
              width="276"
              height="274"
            />

            <div class="catalog-card-container">
              <ul>
                <li class="catalog-card-item">
                  <h3 class="catalog-card-title">Description</h3>
                  <p class="catalog-card-text">
                    Richly detailed with an understated design - the Police
                    Men’s Greenlane watch.
                  </p>
                </li>
                <li>
                  <h3 class="catalog-card-title">DETAILS & FEATUREStion</h3>
                  <p class="catalog-card-text catalog-card-second-text">
                    Gender: man Size: 46x54.5mm Case Colour: Steel Band
                    Material: Metal Case Material: Metal Features: Multifunction
                    Water Resistant: 5 (ATM) Band Colour: Steel
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <p class="catalog-item-name">
            Diver 300M Co‑Axial Master Chronometer Chronograph
          </p>
          <span class="catalog-item-price">€400</span>
        </a>
        <button class="button-heart">
          <svg width="24px" height="24px" class="catalog-icon">
            <use
              class="catalog-icon-item"
              href="./img/icons-sprite/sprite.svg#icon-catalog-heart"
            ></use>
          </svg>
        </button>
      </li>

      <li class="catalog-list-item">
        <a href="" class="catalog-item-link">
          <div class="catalog-foto-container">
            <img
              srcset="
                ./img/3-catalog/catalog-foto11-1x.jpg 1x,
                ./img/3-catalog/catalog-foto11-2x.jpg 2x
              "
              src="./img/3-catalog/catalog-foto11-1x.jpg"
              alt="clock"
              width="276"
              height="274"
            />

            <div class="catalog-card-container">
              <ul>
                <li class="catalog-card-item">
                  <h3 class="catalog-card-title">Description</h3>
                  <p class="catalog-card-text">
                    Richly detailed with an understated design - the Police
                    Men’s Greenlane watch.
                  </p>
                </li>
                <li>
                  <h3 class="catalog-card-title">DETAILS & FEATUREStion</h3>
                  <p class="catalog-card-text catalog-card-second-text">
                    Gender: man Size: 46x54.5mm Case Colour: Steel Band
                    Material: Metal Case Material: Metal Features: Multifunction
                    Water Resistant: 5 (ATM) Band Colour: Steel
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <p class="catalog-item-name">Citizen</p>
          <span class="catalog-item-price">€519</span>
        </a>
        <button class="button-heart">
          <svg width="24px" height="24px" class="catalog-icon">
            <use
              class="catalog-icon-item"
              href="./img/icons-sprite/sprite.svg#icon-catalog-heart"
            ></use>
          </svg>
        </button>
      </li>

      <li class="catalog-list-item">
        <a href="" class="catalog-item-link">
          <div class="catalog-foto-container">
            <img
              srcset="
                ./img/3-catalog/catalog-foto12-1x.jpg 1x,
                ./img/3-catalog/catalog-foto12-2x.jpg 2x
              "
              src="./img/3-catalog/catalog-foto12-1x.jpg"
              alt="clock"
              width="276"
              height="274"
            />

            <div class="catalog-card-container">
              <ul>
                <li class="catalog-card-item">
                  <h3 class="catalog-card-title">Description</h3>
                  <p class="catalog-card-text">
                    Richly detailed with an understated design - the Police
                    Men’s Greenlane watch.
                  </p>
                </li>
                <li>
                  <h3 class="catalog-card-title">DETAILS & FEATUREStion</h3>
                  <p class="catalog-card-text catalog-card-second-text">
                    Gender: man Size: 46x54.5mm Case Colour: Steel Band
                    Material: Metal Case Material: Metal Features: Multifunction
                    Water Resistant: 5 (ATM) Band Colour: Steel
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <p class="catalog-item-name">Armani Exchange</p>
          <span class="catalog-item-price">€400</span>
        </a>
        <button class="button-heart">
          <svg width="24px" height="24px" class="catalog-icon">
            <use
              class="catalog-icon-item"
              href="./img/icons-sprite/sprite.svg#icon-catalog-heart"
            ></use>
          </svg>
        </button>
      </li>
    </ul>
    <button type="button" class="catalog-button" data-modal-open>
      BUY NOW
    </button>
  </div>
</section>
