<!--------------------------FOOTER-------------------------------->
<footer class="footer">
  <div class="footer-content container">
    <div class="footer-wrap">
      <!--lOGO-->
      <div class="footer-box">
        <a class="logo-link link" href="./index.html">
          <svg width="40" height="40">
            <use href="./img/icons-sprite/sprite.svg#icon-logo-cropped"></use>
          </svg>
        </a>
        <address class="footer-tel">
          <a class="address-tel link" href="tel:+380684439426"
            >+380 (68) 443-94-26</a
          >
        </address>
        <address class="address-information">
          <a
            href="https://www.google.com/maps/place/1678+S+Pioneer+Rd,+Salt+Lake+City,+UT+84104,+USA"
            target="_blank"
          >
            1678 S. Pioneer Road <br />
            Salt Lake City <br />
            UT 84104
          </a>
        </address>
      </div>
      <!--MENU-->
      <ul class="footer-list list">
        <li><a class="menu-link link" href="#about">About us</a></li>
        <li><a class="menu-link link" href="#catalog">Catalog</a></li>
        <li><a class="menu-link link" href="#sale">Sale</a></li>
      </ul>
      <!-----MEDIA------>
      <div class="footer-media">
        <ul class="footer-media-block list">
          <li class="social-media">
            <a href="https://www.facebook.com/" class="social-media-link">
              <svg class="footer-icon" width="24" height="24">
                <use
                  href="./img/icons-sprite/sprite.svg#icon-footer-mobile-facebook"
                ></use>
              </svg>
            </a>
          </li>
          <li class="social-media">
            <a href="https://www.instagram.com/" class="social-media-link">
              <svg class="footer-icon" width="24" height="24">
                <use
                  href="./img/icons-sprite/sprite.svg#icon-footer-mobile-instagram"
                ></use>
              </svg>
            </a>
          </li>
          <li class="social-media">
            <a href="https://www.youtube.com/" class="social-media-link">
              <svg class="footer-icon" width="24" height="24">
                <use
                  href="./img/icons-sprite/sprite.svg#icon-footer-mobile-youtube"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-space">
      <div class="footer-flex">
        <span data-language="index_copyright"
          >&#169; 2023 The Watch Spot. All rights reserved.</span
        >
      </div>
      <div class="terms">
        <a
          href="https://www.freeprivacypolicy.com/live/1a4a404c-4023-480a-b100-3d72bdeb4edf"
          class="terms-text"
          target="_blank"
          >Privacy Policy</a
        >
        <a
          href="https://www.freeprivacypolicy.com/live/71da5baf-d37f-4bb2-8039-5f8981a0f9c7"
          class="terms-text"
          target="_blank"
          >Terms of Service</a
        >
      </div>
    </div>
  </div>
</footer>
