<header class="header">
  <div class="header-container container">
    <nav class="header-nav">
      <a
        href="https://alexeyhvozduhin.github.io/TimeTraders/"
        class="header-logo-link"
      >
        <svg class="header-logo-svg" width="14" height="14">
          <use
            class="header-logo-svg-link"
            href="./img/icons-sprite/sprite.svg#icon-logo-cropped"
          ></use>
        </svg>
        <span>thewatchspot</span>
      </a>
      <ul class="header-list">
        <li class="header-list-item">
          <a href="#about" class="header-link-contact"> About us</a>
        </li>
        <li class="header-list-item">
          <a href="#catalog" class="header-link-contact"> Catalog</a>
        </li>
        <li class="header-list-item">
          <a href="#sale" class="header-link-contact">sale</a>
        </li>
      </ul>
    </nav>
    <a href="+380684439426" class="header-nav-tel">+380 (68) 443-94-26</a>
    <button class="header-btn-mobil-menu" data-menu-open>
      <svg class="header-btn-menu-svg" width="24" height="24">
        <use href="./img/icons-sprite/sprite.svg#icon-header-menu-button"></use>
      </svg>
    </button>
  </div>
  <div class="mobile-menu is-hidden" data-menu>
    <div class="menu-container container">
      <div class="menu-container-nav">
        <a href="" class="header-logo-link">
          <svg class="header-logo-svg" width="14" height="14">
            <use
              href="./img/icons-sprite/sprite.svg#icon-header-logo-mobile"
            ></use>
          </svg>
          thewatchspot
        </a>
      </div>
      <button type="button" class="menu-btn" data-menu-close>
        <svg class="mobile-menu-close">
          <use
            href="./img/icons-sprite/sprite.svg#icon-header-menu-closer"
          ></use>
        </svg>
      </button>
      <div class="menu-container-list">
        <ul class="menu-list">
          <li class="menu-list-nav">
            <a href="#about" class="menu-nav"> About us</a>
          </li>
          <li class="menu-list-nav">
            <a href="#catalog" class="menu-nav"> Catalog</a>
          </li>
          <li class="menu-list-nav">
            <a href="#sale" class="menu-nav">Sale</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
