<header class="header">
  <div class="header-container container">
    <nav class="header-nav">
      <a href="" class="header-logo-link">
        <svg class="header-logo-svg" width="14" height="14">
          <use href=""></use>
        </svg>
        thewatchspot
      </a>
      <ul class="header-list">
        <li class="header-list-item" id="about-us">About us</li>
        <li class="header-list-item" id="Catalog">Catalog</li>
        <li class="header-list-item" id="sale">sale</li>
      </ul>
    </nav>
    <a href="+380684439426" class="header-nav-tel">+380 (68) 443-94-26</a>
    <button class="header-btn-mobil-menu">
      <svg class="header-btn-menu-svg" width="24" height="24">
        <use href=""></use>
      </svg>
    </button>
  </div>
</header>
