<section class="new-watches">
  <div class="container">
    <p class="new-watches-subtitle">New watches</p>
    <h2 class="section-title">Green And Bronze—The Match Made In Heaven</h2>
    <div class="new-watches-img">
      <img 
        class="new-watches-img-items"
        srcset="../img/4-new-watches/hand-watch@2x-min.jpg 2x"
        src="../img/4-new-watches/hand-watch-min.jpg" 
        alt="new-watches"
        width="576"
        height="422"></li>
      <img 
        class="new-watches-img-items"
        srcset="../img/4-new-watches/new-watches@2x-min.jpg 2x"
        src="../img/4-new-watches/new-watches-min.jpg" 
        alt="hand-watch"
        width="576"
        height="422">
    </div>
  </div>
</section>
