<section class="new-watches">
  <div class="container">
    <p class="new-watches-subtitle">New watches</p>
    <h2 class="section-title">Green And Bronze—The Match Made In Heaven</h2>
    <div class="new-watches-img">
      <picture>
        <source
          srcset="
            ./img/4-new-watches/mobile-hand-watch.jpg    1x,
            ./img/4-new-watches/mobile-hand-watch@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <source
          srcset="
            ./img/4-new-watches/tablet-hand-watch.jpg    1x,
            ./img/4-new-watches/tablet-hand-watch@2x.jpg 2x
          "
          media="(max-width: 1440px)"
        />
        <img
          class="new-watches-img-items"
          srcset="./img/4-new-watches/hand-watch@2x-min.jpg 2x"
          src="./img/4-new-watches/hand-watch-min.jpg"
          width="576"
          height="422"
          alt="hand-watch"
        />
        <img
          class="new-watches-img-items"
          srcset="./img/4-new-watches/new-watches@2x-min.jpg 2x"
          src="../img/4-new-watches/new-watches-min.jpg"
          alt="new-watches"
          width="576"
          height="422"
        />
      </picture>
    </div>
  </div>
</section>
