<section class="sale">
  <div class="container">
    <h2 class="section-title">Sale</h2>
    <div class="sale-item-container">
      <div class="sale-pictures">
        <ul class="sale-small-pictures">
          <li class="small-picture-container">
            <picture>
              <source
                srcset="
                  ./img/5-sale/first-watch-mob.jpg    1x,
                  ./img/5-sale/first-watch-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/5-sale/first-watch.jpg 1x,
                  ./img/5-sale/first-watch-2x.jpg     2x
                "
                media="(min-width: 768px)"
              />
              <img
                class="sale-small-picture"
                src="./img/5-sale/first-watch.jpg"
                alt=""
              />
            </picture>
          </li>
          <li class="small-picture-container">
            <picture>
              <source
                srcset="
                  ./img/5-sale/second-watch-mob.jpg    1x,
                  ./img/5-sale/second-watch-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/5-sale/second-watch.jpg 1x,
                  ./img/5-sale/second-watch-2x.jpg     2x
                "
                media="(min-width: 768px)"
              />
              <img
                class="sale-small-picture"
                src="./img/5-sale/second-watch.jpg"
                alt=""
              />
            </picture>
          </li>
          <li class="small-picture-container">
            <picture>
              <source
                srcset="
                  ./img/5-sale/third-watch-mob.jpg    1x,
                  ./img/5-sale/third-watch-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/5-sale/third-watch.jpg 1x,
                  ./img/5-sale/third-watch-2x.jpg     2x
                "
                media="(min-width: 768px)"
              />
              <img
                class="sale-small-picture"
                src="./img/5-sale/third-watch.jpg"
                alt=""
              />
            </picture>
          </li>
          <li class="small-picture-container">
            <picture>
              <source
                srcset="
                  ./img/5-sale/forth-watch-mob.jpg    1x,
                  ./img/5-sale/forth-watch-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/5-sale/forth-watch.jpg 1x,
                  ./img/5-sale/forth-watch-2x.jpg     2x
                "
                media="(min-width: 768px)"
              />
              <img
                class="sale-small-picture"
                src="./img/5-sale/forth-watch.jpg"
                alt=""
              />
            </picture>
          </li>
        </ul>
        <picture>
          <source
            srcset="
              ./img/5-sale/big-watch-mob.jpg 1x,
              ./img/5-sale/big-watch-mob-2x.jpg     2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="./img/5-sale/big-watch.jpg 1x, ./img/5-sale/big-watch-2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <img
            class="sale-big-picture"
            src="./img/5-sale/big-watch.jpg"
            alt=""
          />
        </picture>
      </div>
      <div class="descr-item-container">
        <div class="sale-descr-container">
          <p class="sale-item-name">Greenlane Watch By Police For MenHT</p>
          <p class="sale-item-tag">Product tag: PEWJK2227003</p>
          <div class="sale-item-prices">
            <p class="sale-item-price">&#8364;700</p>
            <p class="sale-item-discount">&#8364;1000</p>
          </div>
        </div>
        <div class="sale-descr-container">
          <p class="sale-descr-title">Description</p>
          <p class="sale-item-description">
            Richly detailed with an understated design - the Police Men&rsquo;s
            Greenlane watch features a versatile multifunction design that fits
            effortlessly into work and play. The steel case is adorned with a
            semi-transparent black dial. The timepiece exhibits a contrast
            through a black IP bracelet with matching crown and pushers.
          </p>
        </div>
        <div class="sale-descr-container">
          <p class="sale-descr-title">
            DETAILS & FEATUREStion&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </p>
          <p class="sale-item-description">
            Gender: man Size: 46x54.5mm<br />
            Case Colour: Steel<br />
            Band Material: Metal<br />
            Case Material: Metal<br />
            Features: Multifunction<br />
            Water Resistant: 5 (ATM)<br />
            Band Colour: Steel
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
