/* About us styles */
.about-us {
  padding-top: 40px;
  padding-bottom: 40px;  
}

.container-about-us {  
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.about-us-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: var(--dark-green-color);
  margin-bottom: 40px;
  max-width: 139px;

}

.about-us-list {
  display: block;
}

.about-us-text1,  .about-us-text2 {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: var(--main-black-color);
  margin-bottom: 20px;
  max-width: 100%;
}


.about-us-gif {  
  max-width: 100%;
  min-height: 220px;
  
}

.container-gif {
  width: 100%;
  max-height: 220px;
  margin-top: 40px;
}

@media screen and (min-width:375px) {
  .about-us-gif {
      max-width: 100%;
      min-height: 365px;
      }

  .container-gif {
      width: 100%;
      max-height: 365px;
    }
}

@media screen and (min-width:768px) {
  .about-us {
      padding-top: 64px;
      padding-bottom: 64px;
    }

  .container-about-us {
      display: flex;
      flex-wrap: wrap;
      max-width: 100%;
      padding-left: 32px;
      padding-right: 32px;
      column-gap: 40px;
    }

  .about-us-list {
    max-width: 490px;
  }
  
  .about-us-item {
    display: flex;
    flex-direction: row;
    gap: 40px;
    max-width: 100%;
  }
  .about-us-title {    
    font-size: 40px;
    line-height: 1.01; 
    max-width: 174px;
    margin-bottom: 0;  
    }

  .about-us-text1 {
      margin-bottom: 0;
      min-width: 220px;
    }

  .about-us-text2 {
    min-width: 250px;
  }

  .about-us-gif {
      max-width: 100%;
      min-height: 465px;
    }

  .container-gif {
      width: 100%;
      max-height: 465px;
    }
}

@media screen and (min-width:1280px) {
  .about-us {
      padding-top: 80px;
      padding-bottom: 80px;
    }

  .container-about-us {
      padding-left: 132px;
      padding-right: 132px;
      column-gap: 110px;
    }
  
  .about-us-list {
      max-width: 700px;
    }

  .about-us-text1 {
      min-width: 439px;
    }
  
  .about-us-text2 {
      min-width: 380px;
    }
  
  .about-us-gif {
      max-width: 892px;
      min-height: 500px;
    }
  
  .container-gif {
      width: 100%;
      max-height: 500px;
      margin-left: 283px;
    }
}