/* About us styles */
.about-us {
  padding-top: 40px;
  padding-bottom: 40px;  
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 375px;
}

.about-us-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: var(--dark-green-color);
  margin-bottom: 40px;
  white-space: nowrap;

}

.about-us-list {
  display: block;
  max-width: 335px;
}

.about-us-text1,  .about-us-text2 {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: var(--main-black-color);
  margin-bottom: 20px;
  max-width: 100%;
}


.about-us-gif {  
  max-width: 100%;
  min-height: 220px;
  
}

.container-gif {
  width: 100%;
  max-height: 220px;
  margin-top: 40px;
}

@media screen and (min-width:375px) {
  .about-us-gif {
      max-width: 335px;
      min-height: 365px;
      }

  .container-gif {
      width: 100%;
      max-height: 365px;
    }
}

@media screen and (min-width:768px) {
  .about-us {
      padding-top: 64px;
      padding-bottom: 64px;
    }

  .container {
      display: flex;
      flex-wrap: wrap;
      max-width: 100%;
      column-gap: 40px;
    }

  .about-us-list {
    max-width: 490px;
  }
  
  .about-us-item {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 100%;
  }
  .about-us-title {    
    font-size: 40px;
    line-height: 1.1; 
    
    margin-bottom: 0;  
    }

  .about-us-text1 {
      margin-bottom: 0;
      min-width: 220px;
    }

  .about-us-text2 {
    min-width: 250px;
  }

  .about-us-gif {
      max-width: 704px;
      min-height: 465px;
    }

  .container-gif {
      width: 100%;
      max-height: 465px;
    }
}

@media screen and (min-width:1280px) {
  .about-us {
      padding-top: 80px;
      padding-bottom: 80px;
    }

  .container {
      padding: 0 52px;
    }
  
  .about-us-list {
      max-width: 859px;
    }

  .about-us-item {
    gap: 40px;
  }

  .about-us-text1 {
      min-width: 439px;
    }
  
  .about-us-text2 {
      min-width: 380px;
    }
  
  .about-us-gif {
      max-width: 892px;
      min-height: 500px;
      margin-right: 0;
    }
  
  .container-gif {
      width: 100%;
      max-height: 500px;
      margin-left: 210px;
    }
}