/* About us styles */
.about-us {
  padding-top: 40px;
  padding-bottom: 40px;
}


.about-us-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: var(--dark-green-color);
  margin-bottom: 40px;
  white-space: nowrap;

}

.about-us-text1,
.about-us-text2 {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: var(--main-black-color);
  margin-bottom: 20px;
  max-width: 100%;
}

.about-us-item :last-child {
  margin-bottom: 0;
}

.about-us-gif {
  justify-content: center;
  max-width: 100%;
  min-height: 220px;
  object-fit: cover;

}

.container-gif {
  width: 100%;
  padding: 0 20px;
  margin-top: 40px;
  max-width: 375px;
}


@media screen and (min-width:375px) {
  .about-us-gif {
    max-width: 335px;
    min-height: 365px;
  }

  .container-gif {
    max-width: 375px;
    max-height: 365px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width:768px) {
  .about-us {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .container-about {
    display: flex;
    max-width: 100%;
    gap: 40px;
  }


  .about-us-item {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .about-us-title {
    font-size: 40px;
    line-height: 1.1;

    margin-bottom: 0;
  }

  .about-us-text1 {
    margin-bottom: 0;

  }


  .about-us-gif {
    max-width: 704px;
    min-height: 465px;
  }

  .container-gif {
    max-width: 768px;
    max-height: 100%;
    padding: 0 32px;
  }
}

@media screen and (min-width:1440px) {
  .about-us {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .container-about {
    max-width: 1440px;
    padding: 0 52px;
    gap: 110px;
  }

  .about-us-item {
    max-width: 859px;
    gap: 40px;
  }

  .about-us-text1 {
    max-width: 439px;
  }

  .about-us-text2 {
    max-width: 380px;
  }

  .about-us-gif {
    max-width: 892px;
    min-height: 500px;
    margin-left: auto;
  }

  .container-gif {
    max-width: 1440px;
    max-height: 100%;
    padding: 0 136px;
  }
}