/*--------------Back drop---------*/
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: scale(0.5);
}

/*-----------------modal------------*/
.title-modal {
  display: none;
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 1073px;
  gap: 40px;

  padding: 40px 20px;
  top: 50%;
  left: 50%;

  background: var(--main-white-color);
  box-shadow: 0px 0px 223px rgba(0, 0, 0, 0.05),
    0px 0px 130.6px rgba(0, 0, 0, 0.037963),
    0px 0px 71.0296px rgba(0, 0, 0, 0.0303704),
    0px 0px 36.2375px rgba(0, 0, 0, 0.025),
    0px 0px 18.1704px rgba(0, 0, 0, 0.0196296),
    0px 0px 8.77546px rgba(0, 0, 0, 0.012037);

  transform: translate(-50%, -50%) scale(1);
}

/*----------------------Кнопка закриття---------*/
.icon-close {
  width: 10px;
  height: 10px;
}

.btn-modal-close {
  position: absolute;
  width: 20px;
  height: 20px;

  top: 12px;
  right: 12px;
  background: var(--main-white-color);
  color: var(--dark-green-color);
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

/*------------------------Картка з годинником -----------*/
.model-card {
  display: flex;
  flex-direction: column;
  padding: 0 9.5px;
  gap: 14px;
}

.model-card img {
  margin: 0 auto;
}

.model {
  margin-bottom: 4px;

  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.price {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--text-gray-color);
}

/*-----------------Форма для заповнення------------*/
.callback-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /*  */
  width: 100%;
}

.callback-form-inputs {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.modal-field {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.label-title {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
}

.modal-input {
  display: block;
  outline: 0;

  font-family: inherit;
  padding: 12px 16px;
  width: 100%;

  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;

  background-color: var(--main-white-color);
  border: 1px solid var(--text-gray-color);
  border-radius: 8px;
  transition: all 250ms linear;
}

/*-----------Перевірка вводу на коректність--------*/
.modal-input:focus:invalid {
  border-color: red;
}

.modal-input::focus:valid {
  border-color: var(--dark-green-color);
}

/*----------------------Коментар------------*/
.form-comment {
  font-family: inherit;
  padding: 12px 16px;
  width: 100%;
  height: 170px;

  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;

  outline: none;
  resize: none;
  border: 1px solid var(--text-gray-color);
  border-radius: 8px;
}

/*--------------------------Кнопка замовлення--------*/
.submit-btn {
  padding-top: 18px;
  padding-bottom: 18px;

  width: 100%;

  font-size: 12px;
  line-height: 1.17;
  border: none;

  text-align: center;
  text-transform: uppercase;

  color: var(--main-white-color);
  background: var(--dark-green-color);
  border-radius: 8px;
}

.submit-btn:hover {
}

.order {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/*----------------------інформація про згоду-------*/
.info-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;

  color: var(--numeral-gray-color);
}

.link-license {
  text-decoration: underline;
}

/*-----медіа правила (резина) від 180 до 375 пікселів-----*/
@media screen and (max-width: 374px) {
  .modal {
    max-width: 335px;
    overflow: auto;
  }

  .modal-input {
    width: 100%;
  }

  .btn-modal-close {
    right: 20px;
  }
}

/*---------медія для моб версії адаптив-----------*/
/* @media screen and (min-width: 375px) and (max-width: 767px) { */
@media screen and (max-width: 767px) {
  .modal {
    width: 335px;
    overflow: auto;
    max-height: 1073px;
  }

  .model-card {
    width: 276px;
  }

  .model-card > .model-info > .model {
    margin-top: 39px;
    margin-bottom: 4px;
  }

  .model-card > .model-info > .price {
    margin-top: 4px;
  }
}

/*-----------------планшетна версія------------------*/
@media screen and (min-width: 768px) {
  .modal {
    padding: 40px;
    width: 744px;
    overflow: auto;
    max-height: 670px;

    flex-direction: row;
    gap: 20px;
  }

  #productsList {
  }

  .model-card {
    width: 276px;
  }

  .model-card > .model-info > .model {
    margin-top: 39px;
    margin-bottom: 4px;
  }

  .model-card > .model-info > .price {
    margin-top: 4px;
  }

  .icon-close {
    width: 12px;
    height: 12px;
  }

  .btn-modal-close {
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
  }

  .label-title {
    font-size: 14px;
    line-height: 1.29;
  }

  .modal-input {
    font-size: 16px;
    line-height: 1.12;
  }
}

@media screen and (min-width: 1440px) {
  .modal {
    flex-direction: row;
    width: 904px;
    min-height: 694px;

    gap: 40px;
  }

  .callback-form {
    gap: 40px;
  }

  .callback-form-inputs {
    gap: 24px;
  }

  .info-text {
    width: 391px;
  }
}
