/* Catalog styles */

.catalog-list-item {
  position: relative;
}

.catalog-foto-container {
  position: relative;
  overflow: hidden;
  padding: 43px 30px;
  background-color: var(--main-white-color);
  max-width: 335px;
}

.catalog-image {
  object-fit: cover;
}

.button-heart {
  height: 24px;
  border: none;
  position: absolute;
  top: 14px;
  right: 14px;
  z-index: 2;
  background-color: inherit;
}

.catalog-icon {
  stroke: rgba(20, 20, 20, 0.1);
}

.catalog-item-name {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin-top: 14px;
  color: var(--main-black-color);
}

.catalog-item-price {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--text-gray-color);
  margin-top: 4px;
}

.catalog-button {
  display: block;
  font-family: inherit;

  font-size: 12px;
  line-height: 1.17;
  /* text-align: center; */

  border: none;
  border-radius: 8px;
  background-color: var(--dark-green-color);
  color: var(--main-white-color);

  margin-left: auto;
}

.catalog-list-second {
  display: none;
}

/* Catalog card container */
.catalog-card-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms linear;

  background-color: var(--dark-green-color);
  padding: 5px;
  border-radius: 8px;
}

.checked {
  transform: translateY(0%);
}

.checked-heart {
  stroke: var(--main-white-color);
}

.like-heart {
  stroke: rgb(207, 74, 74);
}
.catalog-item-link:hover .catalog-card-container,
.catalog-item-link:focus .catalog-card-container {
  transform: translateY(0%);
}

.catalog-item-link:hover + .button-heart > .catalog-icon,
.catalog-item-link:focus + .button-heart > .catalog-icon {
  stroke: var(--main-white-color);
}

.catalog-card-item {
  margin-bottom: 14px;
}

.catalog-card-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--main-white-color);
  margin-bottom: 10px;
}

.catalog-card-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 375px) {
  .catalog-card-second-text {
    max-width: 162px;
  }

  .catalog-card-container {
    padding: 40px 59px 40px 40px;
  }
}

@media screen and (max-width: 767px) {
  .catalog-list-item {
    margin-bottom: 40px;
  }

  .catalog-button {
    min-width: 108px;
    padding: 14px 28px;
  }
}

@media screen and (min-width: 768px) {
  .catalog-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 32px;
  }

  .catalog-list-item {
    flex-basis: calc((100% - 32px) / 2);
  }

  .catalog-button {
    margin-top: 40px;
  }

  .catalog-title {
    font-size: 40px;
    line-height: 1.1;
  }

  .catalog-button {
    min-width: 122px;
    padding: 18px 35px;
  }
}

@media screen and (max-width: 1439px) {
  .catalog-list-item:nth-child(n + 9) {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .catalog-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .catalog-list {
    gap: 64px 24px;
  }

  .catalog-foto-container {
    padding: 26px 0;
  }

  .catalog-card-container {
    padding: 20px;
  }
  .catalog-button {
    margin-top: 80px;
  }
}
