/*------------------ MOBILE-HEADER---------------- */
.header {
  position: absolute;
  width: 100%;
  padding: 20px 0 20px 0;
  background-color: var(--main-black-color);
}

.header-container {
  display: flex;
}
.header-nav {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.header-logo-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.03em;
  display: flex;
  align-items: center;
  color: var(--main-white-color);
  position: relative;
}

.header-logo-link::after {
  content: '';
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -7px;
  /* right: 0; */
  left: 0;
  background: var(--main-white-color);
  transition: width 0.5s, left 1s;
}

.header-logo-link:hover::after {
  width: 100%;
  /* left: 0; */
}

.header-logo-svg {
  margin-right: 4px;
  fill: var(--main-white-color);
  transition: width 750ms ease;
}

.header-logo-link:hover .header-logo-svg {
  width: 21px;
  height: 21px;
}

.header-btn-mobil-menu {
  padding: 0;
  line-height: 0;
  transition: 0.3s;
  fill: var(--main-white-color);
  border: transparent;
  outline: none;
  position: relative;
  background-color: var(--main-black-color);
}

.header-list {
  display: none;
}
.header-nav-tel {
  display: none;
}

/* ----------------TABLET-HEADER --------------------*/
@media screen and (min-width: 768px) {
  .header-btn-mobil-menu {
    display: none;
  }
  .header-logo-svg {
    width: 19px;
    height: 19px;
  }
  .header-logo-link {
    font-size: 15px;
    line-height: 15px;
  }
  .header-list {
    display: flex;
    gap: 40px;
    margin-left: 80px;
    align-items: center;
  }
  .header-list-item {
    font-weight: 400;
    font-size: 9px;
    line-height: 1.33;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-white-color);
  }

  .header-link-contact {
    position: relative;
  }
  .header-link-contact::after {
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -4px;
    left: 0;
    background: var(--main-white-color);
    transition: width 0.5s, left 0.5s;
  }

  .header-link-contact:hover::after {
    width: 100%;
  }

  .header-nav-tel {
    font-weight: 400;
    font-size: 9px;
    line-height: 1.33;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    color: var(--main-white-color);
    display: flex;
    background: #1e2827;
    border-radius: 8px;
    padding: 18px 36px;
    transition: all 250ms ease;
    max-width: 160px;
  }

  .header-nav-tel:hover {
    background-color: #1e282790;
  }
}

/*------------------ MOBILE-MENU------------------------- */
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1000;
  background-color: var(--dark-green-color);
  opacity: 1;
  transition: opacity 500ms linear;
}
.menu-container {
  display: flex;
  position: relative;
  padding-top: 20px;
  max-width: 375px;
}
.menu-btn {
  width: 24px;
  height: 24px;
  padding: 0;
  line-height: 0;
  border: transparent;
  stroke: var(--main-white-color);
  background-color: var(--dark-green-color);
}
.menu-container-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.mobile-menu-close {
  width: 24px;
  height: 24px;
}
.menu-container-list {
  position: absolute;
  left: 45%;
  top: 253px;
}
.menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 14px;
}
.menu-list-nav {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--main-white-color);
}
