/* Hero styles */

.hero {
  background-color: var(--main-black-color);
  padding-top: 122px;
  padding-bottom: 40px;
}

.hero-title {
  max-width: 335px;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 1.05; /* 40/38 */
  letter-spacing: -0.04em;
  color: var(--main-white-color);
  margin: 0 auto;
  margin-bottom: 60px;
}
.hero-slider {
  position: relative;
  max-width: 266px;
}
.hero-text {
  margin-left: auto;
  margin-bottom: 40px;
  max-width: 248px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.29; /* 18/14 */
  letter-spacing: -0.02em;
  color: var(--main-white-color);
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--main-white-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
.button-next {
  width: 32px;
  height: 32px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  background-image: url(/img/1-hero/left.svg);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 30;
  transition: all 250ms ease;
}

.button-prev {
  width: 32px;
  height: 32px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  background-image: url(/img/1-hero/left.svg);
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  z-index: 30;
  transition: all 250ms ease;
}

.button-next:hover {
  transform: scale(1.1);
  border-color: rgba(255, 255, 255, 0.75);
}

.button-prev:hover {
  transform: scale(1.1) rotate(180deg);
  border-color: rgba(255, 255, 255, 0.75);
}

.button-prev:active,
.button-next:active {
  border-color: rgba(255, 255, 255, 1);
}
.nav-swip {
  position: relative;
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.swiper-pagination-current {
  position: relative;
  margin-right: 40px;
}
.swiper-pagination-current::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 32px;
  height: 2px;
  background-color: var(--main-white-color);
  left: 10px;
  top: 4px;
}
.hero .swiper-pagination-fraction {
  width: auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29; /* 18/14 */
  color: var(--main-white-color);
  bottom: 0;
  left: 58%;
}

.block-slider {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 148px;
    padding-bottom: 64px;
  }
  .hero-slider {
    max-width: 436px;
  }
  .hero-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .hero-title {
    max-width: 653px;
    font-size: 60px;
    margin-left: 0;
  }
  .hero-text {
    margin-left: 20px;
    margin-bottom: 0;
  }
  .nav-swip {
    margin-bottom: 0;
  }
  .swiper-pagination-current {
    margin-right: 48px;
  }
  .swiper-pagination-current::after {
    width: 40px;
  }
  .button-prev,
  .button-next {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  .block-slider {
    min-width: 0;
  }
  .hero .swiper-pagination-fraction {
    left: 81%;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    padding-bottom: 80px;
  }
  /* .container.hero-container {
    max-width: 1280px;
    padding: 0 52px;
  } */
  .hero-title {
    max-width: 750px;
    margin-right: 144px;
    margin-bottom: 43px;
    order: 1;
  }
  .block-slider {
    margin-right: 64px;
    align-self: flex-end;
    order: 3;
    min-width: 0;
    margin-bottom: 0;
  }
  .hero-text {
    max-width: 282px;
    align-self: flex-start;
    margin-bottom: 0;
    margin-left: 0;
    order: 2;
  }
  .hero-container > picture {
    order: 4;
    max-width: 676px;
  }
}
