/* Hero styles */

.hero {
  background-color: var(--main-black-color);
  padding-top: 122px;
  padding-bottom: 40px;
}

.hero-title {
  max-width: 335px;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 1.05; /* 40/38 */
  letter-spacing: -0.04em;
  color: var(--main-white-color);
  margin: 0 auto;
  margin-bottom: 60px;
}
.hero-slider {
  position: relative;
  max-width: 266px;
}
.hero-text {
  margin-left: auto;
  margin-bottom: 40px;
  max-width: 248px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.29; /* 18/14 */
  letter-spacing: -0.02em;
  color: var(--main-white-color);
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
.button-next {
  width: 32px;
  height: 32px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  background-image: url(/img/1-hero/left.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.button-prev {
  width: 32px;
  height: 32px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  background-image: url(/img/1-hero/left.svg);
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}
.button-prev:active,
.button-next:active {
  border-color: rgba(255, 255, 255, 1);
}
.nav-swip {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.hero .swiper-pagination-fraction {
  font-size: 14px;
  color: #fff;
  bottom: 0;
  left: 35%;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 148px;
    padding-bottom: 64px;
  }
  .hero-slider {
    max-width: 436px;
  }
  .hero-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .hero-title {
    max-width: 653px;
    font-size: 60px;
    margin-left: 0;
  }
  .hero-text {
    margin-left: 20px;
  }
  .block-slider {
    min-width: 0;
  }
}
@media screen and (min-width: 1200px) {
  .container.hero-container {
    max-width: 1200px;
    padding: 0 12px;
  }
  .hero-title {
    max-width: 750px;
    margin-right: 144px;
    order: 1;
  }
  .block-slider {
    margin-right: 64px;
    align-self: flex-end;
    order: 3;
    min-width: 0;
  }
  .hero-text {
    max-width: 282px;
    margin-left: 0;
    order: 2;
  }
  .hero-container > picture {
    order: 4;
  }
}
