/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: var(--main-black-color);
  background-color: var(--main-white-color);
}

body.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 375px;
}

.section {
  padding: 40px 0;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: var(--dark-green-color);
}

/* Custom scroll bar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: var(--main-black-color);
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 5px;
}
